.logo-text {
    font-size: 14px !important;
    text-align: center !important;
}

.bg-slider {
    height: 10%;
}

.bg-slider1-text {
    padding: 0px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.bg-slider2-text {
    padding: 0px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.8)0.7);
    text-align: right;
}

.bg-slider3-text {
    padding: 0px 0px 420px 0px;
    color: rgba(255, 255, 255, 0.9);
    text-align: right;
}

.bg-slider4-text {
    padding: 0px 0px 0px 0px;
    color: rgba(255, 255, 255);
    text-align: center;
}

.bg-slider5-text {
    padding: 0px 0px 320px 0px;
    color: rgba(0, 12, 80, 0.7);
    text-align: right;
}

.bg-slider6-text {
    padding: 0px 0px 320px 0px;
    color: rgba(0, 12, 80, 0.7);
    text-align: right;
}

.bg-slider7-text {
    padding: 0px 0px 320px 0px;
    color: rgba(0, 12, 80, 0.7);
    text-align: right;
}

.bg-slider8-text {
    padding: 0px 0px 320px 0px;
    color: rgba(0, 12, 80, 0.7);
    text-align: right;
}

.bg-slider9-text {
    padding: 0px 0px 320px 0px;
    color: rgba(0, 12, 80, 0.7);
    text-align: right;
}

.bg-slider10-text {
    padding: 0px 0px 320px 0px;
    color: rgba(0, 12, 80, 0.7);
    text-align: right;
}

.bg-slider11-text {
    padding: 0px 0px 320px 0px;
    color: rgba(0, 12, 80, 0.7);
    text-align: right;
}

.bg-slider12-text {
    padding: 0px 0px 320px 0px;
    color: rgba(0, 12, 80, 0.7);
    text-align: right;
}

.titulo-form {
    font-size: 1.5em; 
    color:#6b6b6b;
}